/* -------- TABLET: fino a 878px -------- */
@media screen and (max-width: 878px) {

    /* TABS che vanno a capo */
    .tabs-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px 18px;
        padding: 0 20px;
    }

    .tab-link {
        font-size: 12px;
        text-align: center;
    }

    /* sia la riga di Recently played che le righe sotto
       possono andare a capo */
    .cards-row,
    .generic-row {
        flex-wrap: wrap;
    }

    .album-card {
        width: calc((100% - 3 * 20px) / 4);
    }

    .section-subtitle {
        font-size: 12px;
    }

    .track-actions {
        flex-direction: column;
    }

    .player-controls {
        gap: 10px
    }
}


/* -------- MOBILE: fino a 639px -------- */
@media screen and (max-width : 639px) {

    /* sia la riga di Recently played che le righe sotto
       possono andare a capo */
    .cards-row,
    .generic-row {
        flex-wrap: wrap;
    }

    .album-card {
        width: calc((100% - 3 * 20px) / 2);
    }

    
}


/* -------- MOBILE: fino a 552px -------- */
@media screen and (max-width: 552px) {

    /* Sidebar ristretta */
    .sidebar {
        width: 60px;              /* sidebar  più stretta */
        align-items: center;
    }

    .logo-full {
        display : none ; 
    }
    .logo-small {
        display: block ; 
    }

    /* Logo più piccolo */
    .sidebar-logo img {
        width: 35px;
    }

    /* Nascondo TUTTE le scritte */
    .sidebar-link span,
    .playlist-link,
    .sidebar-title,
    .playlist-plus ,
    .install-app span,
    .user-icon span {
        display: none ;
    }

    /* Icone centrate */
    .sidebar-link {
        justify-content: center;
    }

    .sidebar-icon {
        margin: 0;
        width: 35px;
        height: 35px;
    }

    .install-app {
        justify-content: center;
        padding-bottom : 20px;
    }

    .install-icon {
        margin: 0;
        width: 20px;
        height: 20px;
    }

    
    /* User: solo cerchio */
    .profile-icon {
        margin: 0;
        width: 26px;
        height: 26px;
    }

    .sidebar-divider {
        display: none;
    }

    .track-cover img {
        width : 35px;
        height : 35px ; 
    }

    /*Restringo il player*/

    .track-actions {
        margin-left : -20px; 
        padding : 20px; 
    }
}
