/* RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {

	font-family: "Montserrat", sans-serif;
	background-color: #000;
	color: #fff;
}

/* APP GENERALE */
.app {
	height: 100vh;
	/* prende tutta la viewport */
	display: flex;
	flex-direction: column;
}

/* PARTE ALTA (sidebar + contenuto) */
.app-top {
	height: calc(100vh - 90px);
	/* ALTEZZA TOTALE MENO PLAYER */
	display: flex;

}

/* SIDEBAR */
.sidebar {
	width: 230px;
	background-color: black;
	padding: 20px;
	overflow: auto;
	display : flex ; 
	flex-direction: column;
	justify-content: space-between;
	flex-shrink: 0; /* per non farla stringere*/ 
	
}

/* CONTENUTO CENTRALE */
.main-content {
	flex-grow: 1;
	background-color: #1e293b;
	overflow: auto;
	/* scroll del contenuto centrale */

}

.main-content h1 {
	margin-bottom: 20px;
}

/* PLAYER IN BASSO */
.player-bar {
	height: 90px;
	/* altezza fissa */
	background-color: #18181b;
	border-top: 1px solid #333;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* BARRA CON PULSANTE TRATTATO COME HEADER */
.header-bar {
	width: calc(100vw - 230px);
	height: 80px;
	position: sticky;
	top: 0;
	z-index: 10;
	background-color: #19191a;
	display: flex;
	align-items: center;
	justify-content: flex-end;

}

.upgrade-btn {
	border: 1px solid white;
	color: white;
	text-decoration: none;
	padding: 10px 30px;
	border-radius: 20px;
	margin-right: 10px;
	font-size: 13px;
}

/* BARRA TAB */
.main-tabs {
	padding : 40px 0;
}

.tabs-list {
	display: flex;
	list-style: none;
	gap: 20px;
	justify-content: center;
}

.tab-link {
	position: relative ; /* Mi serve per l'after*/
	text-decoration: none;
	color: #9ca3af;
	font-size: 14px;
	font-weight: 600;
}
/* Barra corta sotto il testo */
.tab-link::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);   /* la centra */
    width: 30px;                  
    height: 2px;
    background-color: transparent; /* invisibile finché non è active */
    bottom: -4px; 
}

.tab-link:hover {
	color:white; 
}

.tab-link:hover::after {
    background-color: #1db954; /* compare al hover */
}

/* SIDEBAR  BLOCCO LOGO*/

.sidebar-top {
	padding-bottom: 20px;
}

.sidebar-logo img {
	width: 140px;
}


/* SIDEBAR  BLOCCO MENU */

.sidebar-nav {
	margin-top: 40px;
}

.sidebar-menu {
	display : flex ; 
	flex-direction: column;
	list-style: none;
}

.sidebar-icon {
	width : 40px ; 
	height: 40px;
	margin-right: 10px;
	
}

.sidebar-link {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #9ca3af;
	font-size: 15px;
}

.sidebar-link:hover {
	color: white;
}

.sidebar-menu li {
	padding-bottom: 5px;
}


/* SIDEBAR  BLOCCO PLAYLSIT */

.sidebar-playlist {
	margin-top : 25px; 
}

.sidebar-title {
	margin-bottom: 15px;
	color: white;
}

.playlist-plus {
	font-size: 30px;
	margin-right: 10px;
	background-color: white;
	color: black;
	padding: 3px 10px;
}

.playlist-list {
	list-style: none;
	padding-top: 20px;
	display: flex;
    flex-direction: column;
    gap: 12px; 
}

.playlist-link {
	text-decoration: none;
	color: #9ca3af;
    padding : 6px 0; 
}

.playlist-link:hover {
	color: white ; 
}

/* SIDE BAR BOTTOM */

.install-app {
	display: flex;
	color: #9ca3af;
	text-decoration: none;
	align-items: center;
	justify-content: flex-start;
}

.install-icon {
	width : 20px ; 
	height: 20px;
	margin-right: 5px;
}

.install-app span {
	font-size: 12px;
}
.install-app:hover {
	color: white;
}


/* SIDEBAR USER */
.user-icon {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #9ca3af;
	
}

.profile-icon {
	width : 20px ; 
	height: 20px;
	margin-right: 5px;
	background-color: grey;
	border-radius: 20px;

}

.user-icon span {
	font-size : 12px; 
	font-weight: 600;
	color: white ; 
}

.sidebar-divider {
	width: 100%;
    height: 1px;
    background-color: white;
    margin: 10px 0 15px 0;
}

/* CONTENUTO CENTRALE CON LE CARD */

.section-title {
    padding-left : 15px ; 
	padding-bottom: 25px;
}


.cards-row {
	display: flex;
	gap : 20px; 
	padding-left: 15px; 
	padding-right : 15px; 
	
}

.album-card {
	width : calc((100% - 5 * 20px) / 6);
	cursor : pointer;
	
}

.album-cover img {
	width : 100%; 
	 
}

.album-title {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.album-subtitle {
	text-align: center;
	color: #9ca3af;
	font-size: 14px;
}


/* SEZIONE CREATO PER JOHN DOE*/

.generic-row {
	display: flex;
	gap:20px; 
	padding-left: 15px;
	padding-right: 15px;
}

.created-for .section-title {
	padding-top: 40px;
	padding-bottom: 15px;
}

 .section-subtitle {
	padding-left: 15px;
	padding-bottom: 25px;
	font-size : 14px ; 
	color: #9ca3af;
}

/* Contenitore tondo */
.circle-card .album-cover {
    border-radius: 50%;
    overflow: hidden; 
}

/* Immagine tonda */
.circle-card .album-cover img {
    border-radius: 50%;
}


/* EFFETTO HOVER SULLE CARD */

.album-cover {
	position: relative;
}

.recently-played .album-cover img {
    display: block;
    width: 100%;
    
}

/* Bottone play nascosto di default */
.play-btn {
    position: absolute;
    inset: 0;                          /* occupa tutta l'immagine */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: white;
    opacity: 0;                        /* nascosto */
    
}

/* HOVER: scurisco immagine + mostro play */
.recently-played .album-card:hover .album-cover img {
    filter: brightness(0.4);
}

.recently-played .album-card:hover .play-btn {
    opacity: 1; /* mostro il pulsante al passaggio con il mouse */
}
