/* RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {

	font-family: "Montserrat", sans-serif;
	background-color: #000;
	color: #fff;
}

/* APP GENERALE */
.app {
	height: 100vh;
	/* prende tutta la viewport */
	display: flex;
	flex-direction: column;
}

/* PARTE ALTA (sidebar + contenuto) */
.app-top {
	height: calc(100vh - 90px);
	/* ALTEZZA TOTALE MENO PLAYER */
	display: flex;

}

/* SIDEBAR */
.sidebar {
	width: 230px;
	background-color: black;
	padding: 20px;
	overflow: auto;
	display : flex ; 
	flex-direction: column;
	justify-content: space-between;
	
}

/* CONTENUTO CENTRALE */
.main-content {
	flex-grow: 1;
	background-color: #1e293b;
	overflow: auto;
	/* scroll del contenuto centrale */

}

.main-content h1 {
	margin-bottom: 20px;
}

/* PLAYER IN BASSO */
.player-bar {
	height: 90px;
	/* altezza fissa */
	background-color: #18181b;
	border-top: 1px solid #333;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* BARRA CON PULSANTE TRATTATO COME HEADER */
.header-bar {
	width: calc(100vw - 230px);
	height: 80px;
	position: sticky;
	top: 0;
	z-index: 10;
	background-color: #111827;
	display: flex;
	align-items: center;
	justify-content: flex-end;

}

.upgrade-btn {
	border: 1px solid white;
	color: white;
	text-decoration: none;
	padding: 10px 30px;
	border-radius: 20px;
	margin-right: 10px;
	font-size: 13px;
}

/* BARRA TAB */
.main-tabs {
	padding : 40px 0;
}

.tabs-list {
	display: flex;
	list-style: none;
	gap: 20px;
	justify-content: center;
}

.tab-link {
	position: relative ; /* Mi serve per l'after*/
	text-decoration: none;
	color: #9ca3af;
	font-size: 14px;
	font-weight: 600;
}
/* Barra corta sotto il testo */
.tab-link::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);   /* la centra */
    width: 30px;                  
    height: 2px;
    background-color: transparent; /* invisibile finché non è active */
    bottom: -4px; 
}

.tab-link:hover {
	color:white; 
}

.tab-link:hover::after {
    background-color: #1db954; /* compare al hover */
}

/* SIDEBAR  BLOCCO LOGO*/

.sidebar-top {
	padding-bottom: 20px;
}

.sidebar-logo img {
	width: 140px;
}


/* SIDEBAR  BLOCCO MENU */

.sidebar-nav {
	margin-top: 40px;
}

.sidebar-menu {
	display : flex ; 
	flex-direction: column;
	list-style: none;
}

.sidebar-icon {
	width : 40px ; 
	height: 40px;
	margin-right: 10px;
	
}

.sidebar-link {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: white;
	font-size: 15px;
}

.sidebar-menu li {
	padding-bottom: 5px;
}
